{% extends '@BranderEAV/layout.twig' %}
{% twigjs '@BranderEAV/Widgets/attribute.collection.twig' %}
{% twigjs '@BranderEAV/Widgets/attribute.changes.twig' %}
{% twigjs '@BranderEAV/Widgets/attribute.item.twig' %}
{% twigjs '@BranderEAV/Widgets/attribute.one.twig' %}
{% twigjs '@BranderEAV/Widgets/option.collection.twig' %}
{% twigjs '@BranderEAV/Widgets/option.item.twig' %}
{% twigjs '@BranderEAV/Manage/main.twig' %}
{% twigjs '@BranderEAV/Widgets/set.collection.twig' %}
{% twigjs '@BranderEAV/Widgets/set.item.twig' %}
{% twigjs '@BranderEAV/Widgets/set.one.twig' %}
{% twigjs '@BranderEAV/Widgets/set.attribute.collection.twig' %}
{% twigjs '@BranderEAV/Widgets/group.collection.twig' %}
{% twigjs '@BranderEAV/Widgets/group.item.twig' %}
{% twigjs '@BranderEAV/Widgets/group.one.twig' %}

{% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="{{ asset('/bundles/brandereav/css/font-awesome.min.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ asset('/bundles/brandereav/css/bootstrap.min.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ asset('/bundles/brandereav/css/manage.css') }}" />
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script type="text/javascript">
    requirejs(['brander-eav/manage'], function(ManageView) {
      (new ManageView({
        el:            '#page_content',
        currentLocale: '{{ brander_eav_global.localeDefault }}',
        currentLocales: {{ brander_eav_global.localesSupported|json_encode|raw }}
      })).render();
    })
  </script>
{% endblock %}

{% block body %}
<div id="page_content"></div>
{% endblock %}